{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Авторизация
{% endblock %}


{% block login %}
    <div class="login">
        <h4>Авторизация</h4>
            <div class="form-group has-error">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% if login_error %}

                        <lable class="control-label">{{ login_error }}</lable>
                        <br>
                    {% endif %}
                    <input type="text" name="username" id="username" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваше Имя':this.value;" value="* Ваше Имя" style="margin-bottom: 5px"/>
                    <input type="password" name="password" id="password" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваш Пароль':this.value;" value="* Ваш Пароль" style="margin-bottom: 15px"/>
                    <br>
                    <div class="login-btn">
                        <div class="col-md-6">
                            <button class="btn btn-default btn-block" type="submit">Войти</button>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-block" href="#" type="button">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
    </div>

{% endblock %}
