{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Регистрация
{% endblock %}


{% block login %}
    <div class="login">
        <h4>Регистрация</h4>
            <div class="form-group has-error">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="email" name="email" id="email" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваш e-mail':this.value;" value="* Ваш e-mail" style="margin-bottom: 5px;"/>
                    <input type="text" name="username" id="username" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваш логин':this.value;" value="* Ваш логин" style="margin-bottom: 5px;"/>
                    <input type="text" name="first_name" id="first_name" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваше имя':this.value;" value="* Ваше имя" style="margin-bottom: 5px"/>
                    <input type="text" name="last_name" id="last_name" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?' Ваше фамилия':this.value;" value=" Ваше фамилия" style="margin-bottom: 5px"/>
                    <input type="text" name="password1" id="password1" onclick="this.value=''; this.type='password'" onfocus="this.select(); this.type='password'; this.value='';" onblur="this.value=!this.value?'* Ваш Пароль':this.value; this.type='text'" value="* Ваш Пароль" style="margin-bottom: 15px"/>
                    <input type="text" name="password2" id="password2" onclick="this.value=''; this.type='password'" onfocus="this.select(); this.type='password'; this.value='';" onblur="this.value=!this.value?'* Подтверждение Пароля':this.value; this.type='text'" value="* Подтверждение Пароля" style="margin-bottom: 15px"/>
                    {% if error %}
                        <ul>Пароль должен удовлетворять сдедующим требованиям:
                            <li>Содержать спецсимволы</li>
                            <li>Быть длиннее 8 символов</li>
                            <li>Спецсимволы</li>
                        </ul>
                    {% endif %}
                    <div class="login-btn">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-block" type="submit">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>

{% endblock %}