{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ article.article_title }}
{% endblock %}

{% block header-page %}
    <h1 class="blog-title">{{ article.article_title }}</h1>

{% endblock %}

{% block content %}
    <p>{{ article.article_text }}</p>
    <p class="blog-post-meta">Дата публикации:{{ article.article_date }}<br>Опубликованная: <a href="#">{% block post-autor %}{% endblock %}</a></p>
    <br>
    <p> <a style="text-decoration: none;" href="{% url 'addlike' article.id %}"> <img src="{% static 'blog/image/like_icon.png' %}" width="25px" height="25px"> </a>{{ article.article_likes }}</p>

    <hr>

    <p>Комментарии:</p>
    <div class="col-sm-offset-1">
    <ul>

    {% for comment in comments %}

        <li class ="post-comment">{{ comment.comments_text }}</li>

    {% endfor %}

    </ul>

    </div>
    <form action ="{% url 'addcomment' article.id %}" method="post">
            {% csrf_token %}
                <div class="comment-field">
                    {{ form }}
                </div>
            <br>
            <input type="submit" class="button" value="Добавить комментарий">
    </form>

{% endblock %}

{% block subjects %}
    {% for subject in subjects %}
        <li><a href="#">{{ subject.subject_name }}</a></li>
    {% endfor %}
{% endblock %}