{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Новая статья
{% endblock %}

{% block header-page %}


{% endblock %}

{% block content %}
    <div id="container">
        <div id="content">
            <div class="col-sm-8 blog-main">

                <form action ="{% url 'newarticle'%}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="title">Заголовок статьи</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="desctiption">Статья</label>
                            <div>
                                <textarea class="form-control" name="description" id="description" rows="10" cols="80">
                                </textarea>
                                <script>
                                    CKEDITOR.replace( 'description' );
                                </script>
                            </div>

                        </div>

                    <div class="form-group">
                        <label for="subjects">Тематика статьи</label>
                        <br>
                        <select name="subjects" id="subjects" data-placeholder="Выберите тему..." class="chosen-select" multiple style="width:350px;">
                            {% for subject in subjects %}
                                <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                    </div>



                        <br>
                        {% if username %}
                            <input type="submit" class="button" value="Добавить статью" style="margin-bottom: 20px">
                        {% endif %}
                </form>

            </div>
        </div>
    </div>


{% endblock %}

{% block subjects %}
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

        <div class="sidebar-module sidebar-module-inset">
            <h4>Разделы</h4>
                <ol class="list-unstyled">
                {% for subject in subjects %}
                    <li><a href="#">{{ subject.subject_name }}</a></li>
                {% endfor %}
                </ol>
        </div>
    </div>
{% endblock %}

