{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %} &ndash; ELM</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/CSS/blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/CSS/style.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'blog/CSS/docsupport/prism.css' %}">
  <link rel="stylesheet" href="{% static 'blog/CSS/chosen.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>

  </head>
  <body>

      <div class="blog-masthead">
          <div class="container">
          <div class="row">
              <nav class="blog-nav">
              <div class="col-sm-8 blog-main">
                  <a class="blog-nav-item" id="home" href="{% url 'home' %}" onclick=clickLink('home')>Дом</a>
                  <a class="blog-nav-item" href="#">New features</a>
                  <a class="blog-nav-item" href="#">Press</a>
                  <a class="blog-nav-item" href="#">New hires</a>
                  <a class="blog-nav-item" id="about" href="{% url 'about' %}" onclick=clickLink('about')>О проекте</a>
              </div>
              <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
                  {% if username %}
                    <a class="blog-nav-login" href="{% url 'logout' %}">Выйти({{ username }})</a>
                  {% else %}
                    <a class="blog-nav-login" href="{% url 'login' %}"> Войти</a>
                  {% endif %}
              </div>
              </nav>
          </div>
          </div>
      </div>

      <div class="container">

          <div class="blog-header">

          </div>



          <div class="row">
            {% block login %}{% endblock %}
            {% block content %}{% endblock %}
            {% block subjects %}{% endblock %}
            <!--
                <div class="sidebar-module">
                </div>
            -->
            <!-- /.blog-sidebar -->
          </div><!-- /.row -->
      </div><!-- /.container -->

      <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
      <a href="#">Back to top</a>
      </p>
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js" type="text/javascript"></script>
  <script src="{% static 'blog/JS/chosen.proto.js' %}" type="text/javascript"></script>
  <script src="{% static 'blog/JS/docsupport/prism.js' %}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  document.observe('dom:loaded', function(evt) {
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text: "Oops, nothing found!"},
      '.chosen-select-width'     : {width: "95%"}
    }
    var results = [];
    for (var selector in config) {
      var elements = $$(selector);
      for (var i = 0; i < elements.length; i++) {
        results.push(new Chosen(elements[i],config[selector]));
      }
    }
    return results;
  });
  </script>
  </body>
</html>
