{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %} &ndash; ELM</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/CSS/blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/CSS/style.css' %}" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

      <script>
        function clickLink(id){
            elements_menu = document.getElementsByClassName('blog-nav-item');
            for (var i = 0; i < elements_menu.length; ++i){
                if (elements_menu[i].getAttribute('id') == id){
                    elements_menu[i].classList.add('active')
                }else{
                    elements_menu[i].classList.remove('active')
                }
            }
        }
    </script>

  <body>




    <div class="blog-masthead">

      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" id="home" href="{% url 'home' %}" onclick=clickLink('home')>Дом</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" id="about" href="{% url 'about' %}" onclick=clickLink('about')>О проекте</a>
            {% if username %}
                <p class="blog-nav-login">Приветствую тебя, {{ username }}</p>
            {% else %}
                <p class="blog-nav-login"> Приветствую тебя, странник!</p>
            {% endif %}
        </nav>
      </div>
    </div>



    <div id="fade" class="black-overlay"></div>

    <div class="container">

      <div class="blog-header">

      </div>



      <div class="row">
      <div class="col-sm-8 blog-main">

      {% block content %}
      {% endblock %}

      </div>

        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <div class="sidebar-module sidebar-module-inset">
            <h4>Авторизация</h4>
            <div id="login_form">
                {% if username %}
                    <form action="{% url 'logout' %}" method="get">
                        <p>Приветствую тебя, {{username}}!
                        <input type="submit" value="Выйти"></p>
                    </form>
                {% else %}
                    <div>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" id="username" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваше Имя':this.value;" value="* Ваше Имя" style="margin-bottom: 5px"/>
                            <input type="password" name="password" id="password" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваш Пароль':this.value;" value="* Ваш Пароль" style="margin-bottom: 15px"/>
                            <input type="submit" value="Войти">
                            {% block error %}
                            {% endblock %}
                        </form>
                    </div>
                {% endif %}
            </div>
          </div>

          <div class="sidebar-module">
            <h4>Разделы</h4>
            <ol class="list-unstyled">
                {% block subjects %}{% endblock %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--<script>
        var div = document.getElementById('login_form');
        function hiddenShow()
        {
           if (div.className == 'login-block-hidden')
           {
              div.className='login-block-visible';
           } else {
              div.className='login-block-hidden';
           }
        }

        function hide(evt)
        {
           if (evt.target != document.getElementById('login'))
           {
              div.className='login-block-hidden';
           }
        }
        div.addEventListener('click', hiddenShow, false);
        var body = (document.body) ? document.body : document.documentElement.childNodes[1];
        body.addEventListener('click', hide, false);
    </script> -->

  </body>
</html>
